.container {
  min-height: 600vh;
}

.container > * {
  position: fixed;
  z-index: 10;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.header {
  margin: 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
}

.brand {
  display: flex;
  align-items: center;
}

.brand h1 {
  font-size: 24px;
  margin-left: 12px;
}

.nav {
  display: flex;
  align-items: baseline;
}

.link {
  margin-right: 48px;
  font-weight: 500;
  cursor: pointer;
}

.button {
  background-color: var(--orange);
  color: white;
  padding: 8px 32px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-weight: 500;
  font-size: 56px;
  margin: 0 0 16px 0;
  white-space: nowrap;
}

.hero h3 {
  font-weight: normal;
  font-size: 32px;
  margin: 0 0 48px 0;
}

.checklist {
  color: var(--orange);
  font-size: 32px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 140px;
}

.checklist > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  list-style-type: none;
  max-width: 380px;
}

.checklist > *::before {
  content: "";
  background-image: url("/images/check.svg");
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.ring {
  border-radius: 100%;
  background-image: linear-gradient(to bottom, var(--orange), var(--orange), blueviolet);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 1px;
  z-index: 0;
}

.ring::after {
  content: "";
  background-color: white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}